<h1>homepage</h1>
<p>this is my home page</p>
<p>here's a goofy image :D</p>
<img src="https://cdn.discordapp.com/emojis/902185816208584764.gif?size=240&quality=lossless">
<p><a href="http://localhost:3000/about">About page</a></p>
<p><a href="http://localhost:3000/crystal">Hot wife page</a></p>